doctype html
html
  head
    title MovieApp
    link(rel="stylesheet", href="/style.css")
  body
    header
      section.tituloClaqueta
        img(src="/assets/claqueta.png", alt="claqueta")
        h1 MovieApp
      button.menu_button
        img(src="/assets/play.png", alt="play")
        include navBarAdmin.pug 
  main
    form#formularioCreateMovie(action="" method="POST")
        h2 Create Movie
        fieldset.campoCreateMovie 
            p Title 
            input( class="inputCreate" type="text" name="title" required)
        fieldset.campoCreateMovie 
            p Date 
            input( class="inputCreate" type="text" name="date")
        fieldset.campoCreateMovie 
            p Genre 
            input( class="inputCreate" type="text" name="genre")
        fieldset.campoCreateMovie 
            p Poster 
            input( class="inputCreate" type="file" name="poster")
        fieldset.campoCreateMovie 
            p Runtime
            input( class="inputCreate" type="text" name="runtime")
        fieldset.campoCreateMovie 
            p Synopsis 
            textarea( class="inputCreate" rows="4" cols="50" name="synopsis")
        fieldset.campoCreateMovie 
            p Director
            input( class="inputCreate" type="text" name= "director")
        fieldset.campoCreateMovie 
            p Actors
            input( class="inputCreate" type="text" name="actors")
        fieldset.campoCreateMovie 
            p Created by
            input( class="inputCreate" type="text" name="email")

        button#botonCreateMovie(type="submit") Create
  script(src='/createMovie.js')
  include footer.pug

    