doctype html
html
  head
    title MovieApp
  body
    header
      h1 MovieApp
      button.dropdown-button Menú
        ul.dropdown-menu
          li
            a(href="ruta para direccionar") Texto de los elementos del menú desplegable
          li 
            a(href="ruta para direccionar") Texto de los elementos del menú desplegable
  main
    h2 Create Movie
    form(action="" method="POST" class="formCreate")
        fieldset 
            p Title 
            input( class="inputCreate" type="text" name="title")
        fieldset 
            p Date 
            input( class="inputCreate" type="text" name="date")
        fieldset 
            p Genre 
            input( class="inputCreate" type="text" name="genre")
        fieldset 
            p Poster 
            input( class="inputCreate" type="file" name="poster")
        fieldset 
            p Runtime
            input( class="inputCreate" type="text" name="runtime")
        fieldset 
            p Synopsis 
            textarea( class="inputCreate" rows="4" cols="50" name="synopsis")
        fieldset 
            p Director
            input( class="inputCreate" type="text" name= "director")
        fieldset 
            p Actors
            input( class="inputCreate" type="text" name="actors")
        fieldset 
            p Created by
            input( class="inputCreate" type="text" name="email")

        button(type="submit") Create
  script(src='/createMovie.js')
    