html
  head
    title MovieApp
    link(rel="stylesheet" href="/style.css")
  body
    header
      h1 MovieApp
        section.tituloClaqueta
          img(src="/assets/claqueta.png" alt="claqueta")
          h1 MovieApp
      button.menu_button
        img(src="/assets/play.png" alt="play")
        include navBarAdmin.pug
  main
    section#perfilUsuario 
      img(src="/assets/defaultAvatar.png" alt="foto o avatar usuario")   
      h3 Username: mariaDiana99 
      h3 Email: mariadiananaghiu09@gmail.com
    button#editarPerfil Edit my profile
    section#pelisCreadasDashboard
      article.peliCreada  
        h2 Movie 1
        img(src="assets" alt="foto pelicula 1")
        p little synopsis
        button.borrarPeli delete
        article  
          h2 Movie 2
          img(src="assets" alt="foto pelicula 2")
          p little synopsis
        button delete
    include footer.pug





