doctype html
html
  head
    title MovieApp
  body
    header
      h1 MovieApp
      button.dropdown-button Menú
        ul.dropdown-menu
          li
            a(href="ruta para direccionar") Buscar
          li
            a(href="ruta para direccionar") Mis pelis
  main
     button(type="button") Search for a movie
     button(type="button") My favourite movies
