doctype html
html
  head
    title MovieApp
  body
    header
      h1 MovieApp
      button.menu-button Menu
        include navBar.pug
  main
     button(type="button") Search for a movie
     button(type="button") My favourite movies

  include footer.pug
