doctype html
html
  head
    title MovieApp
  body
    header
      h1 MovieApp
      button.dropdown-button Menú
        ul.dropdown-menu
          li
            a(href="ruta para direccionar") Buscar
          li
            a(href="ruta para direccionar") Mis pelis
  main
    section.perfil 
      img(src="foto o avatar usuario", alt="foto o avatar usuario")   
      h3 Username: mariaDiana99 
      h3 Email: mariadiananaghiu09@gmail.com
      
    button Editar mi perfil
    section
      article  
            h2 Pelicula 1
            img(src="assets", alt="foto pelicula 1")
            p descripción breve película
            button quitar de favs
        article  
            h2 Pelicula 2
            img(src="assets", alt="foto pelicula 2")
            p descripción breve película
        


    
