doctype html
html
  head
    title MovieApp
  body
    header
      h1 MovieApp
      button.dropdown-button Menú
        ul.dropdown-menu
          li
            a(href="ruta para direccionar") Texto de los elementos del menú desplegable
          li
            a(href="ruta para direccionar") Texto de los elementos del menú desplegable
  main
    h2 Mis pelis 
    input(type="text" placeholder="Search for a movie") 
    button(type="button") Create movie
    
