doctype html
html
  head
    title MovieApp
    link(rel="stylesheet" href="/style.css")

  body
    header
      section.tituloClaqueta
        img(src="/assets/claqueta.png", alt="claqueta")
        h1 MovieApp
      button.menu_button
        img(src="/assets/play.png", alt="play")
        include navBarAdmin.pug
  main
    h2 Edit Movie
      form#editMovie(action="" method="POST")
        fieldset 
          p Title 
          input( class="inputEdit" type="text" name="title" required)
        fieldset 
          fieldset 
            p Date 
            input( class="inputEdit" type="text" name="date" required)
            p Genres 
            input( class="inputEdit" type="text" name="genre" required)
        fieldset 
          p Poster 
          input( class="inputEdit" type="file" name="poster" required)
        fieldset 
          p Runtime
          input( class="inputEdit" type="text" name="runtime" required)
        fieldset 
          p Synopsis 
          textarea( class="inputEdit" rows="4" cols="50" name="synopsis" required)
        fieldset 
          p Director
          input( class="inputEdit" type="text" name= "director" required)
        fieldset 
          p Actors
          input( class="inputEdit" type="text" name="actors" required)
        fieldset 
          p Edited by
          input(class="inputEdit" type="text" name="email" required)

        button#editButton(type="submit") Edit
  script(src='/editMovie.js') 
  include footer.pug