doctype html
html
  head
    title MovieApp
  body
    header
      h1 MovieApp
      button.dropdown-button Menú
        ul.dropdown-menu
          li
            a(href="ruta para direccionar") Texto de los elementos del menú desplegable
          li
            a(href="ruta para direccionar") Texto de los elementos del menú desplegable
  main
    h2 Editar película
    form(action="")
        fieldset 
            p título 
            input(type="text")
        fieldset 
            p géneros 
            input(type="text")
        fieldset 
            p imagen 
            input(type="file")
        fieldset 
            p duración
            input(type="text")
        fieldset 
            p sinopsis 
            input(type="text")
        fieldset 
            p director
            input(type="text")
        fieldset 
            p actores
            input(type="text")
        fieldset 
            p puntuación
            input(type="text")
        button(type="submit") Editar