section.footer
    a(href='https://github.com/GREGORIOtsr/movieAPP/tree/main/src')
        img(src="/assets/githubLogo.png")
    p Derechos reservados 
    img(src="/assets/logoTMDB.png", alt="logo TMDB")