section.footer
    a(href='https://github.com/GREGORIOtsr/movieAPP/tree/main')
        img(src="/assets/githubLogo.png")
    p © 2023 Copyright Gregorio Tremont, Alejandro Márquez, and Maria Diana Noaghiul. All rights reserved.
    img(src="/assets/logoTMDB.png", alt="logo TMDB")