doctype html
html
  head
    title MovieApp
  body
    header
      h1 MovieApp
      button.dropdown-button Menú
        ul.dropdown-menu
          li
            a(href="ruta para direccionar") Buscar
          li
            a(href="ruta para direccionar") Mis pelis
  main
    section 
      img(src="foto o avatar usuario", alt="foto o avatar usuario")   
      h3 Username: mariaDiana99 
      h3 Email: mariadiananaghiu09@gmail.com
      article
        h3 Reviews hechas: 
        p review 1
        p review 2
      
    button Editar mi perfil


