doctype html
html
  head
    title MovieApp
    link(rel="stylesheet", href="/style.css")
  body
    h1 Log In

    form(action="/login", method="post")
      p Email
      input(type="email", name="email", required)

      p Password
      input(type="password", name="password", required)

      button(type="submit") Log In
      
    div 
    p Don't have an account? 
    a(href='/signup') Click here to create one!

    button(type="button") Google
    include footer.pug
