doctype html
html
  head
    title MOVIE APP
    link(rel="stylesheet", href="/style.css")
  body
    header
      section.tituloClaqueta
        img(src="/assets/claqueta.png", alt="claqueta")
        h1 MovieApp
      button.menu_button
        img(src="/assets/play.png", alt="play")
        include navBar.pug
  main
    section#perfilUsuario 
      img(src="/assets/defaultAvatar.png", alt="avatar usuario")   
      h3 Username: mariaDiana99 
      h3 Email: mariadiananaghiu09@gmail.com
      article
        h3 Reviews hechas: 
        p review 1
        p review 2
      
    button#editarPerfil Editar mi perfil
  include footer.pug


