doctype html
html
  head
    title MovieApp
  body
    header
      h1 MovieApp
      button.menu-button Menu
        include navBar.pug
  main
    section 
      img(src="foto o avatar usuario", alt="foto o avatar usuario")   
      h3 Username: mariaDiana99 
      h3 Email: mariadiananaghiu09@gmail.com
      article
        h3 Reviews hechas: 
        p review 1
        p review 2
      
    button Editar mi perfil
  include footer.pug


