doctype html
html
  head
    title MovieApp
    link(rel="stylesheet", href="/style.css")
  body
    header
      section.tituloClaqueta
        img(src="/assets/claqueta.png", alt="claqueta")
        h1 MovieApp
      button.menu_button
        img(src="/assets/play.png", alt="play")
        include navBar.pug
    main
      form#formularioLogin(action="/login", method="post")
        h1 Log In
        fieldset.campoFormLogin
          p Email
          input(type="email", name="email", required)
        fieldset.campoFormLogin
          p Password
          input(type="password", name="password", required)
          br

        button#botonLogin(type="submit") Log In
        br

        button#botonGoogle(type="button") Google
    include footer.pug
