doctype html
html
  head
    title MovieApp
  body
    header
      h1 Movies
      button.menu-button Menu
        include navBar.pug
    main
      h2 Mis pelis favs
      section
        article  
            h2 Pelicula 1
            img(src="assets", alt="foto pelicula 1")
            p descripción breve película
            button quitar de favs
        article  
            h2 Pelicula 2
            img(src="assets", alt="foto pelicula 2")
            p descripción breve película
            button quitar de favs
    include footer.pug
            
