doctype html
html
  head
    title MovieApp
  body
    header
      h1 Movies
      button.dropdown-button Menú
        ul.dropdown-menu
          li
            a(href="ruta para direccionar") Texto de los elementos del menú desplegable
          li
            a(href="ruta para direccionar") Texto de los elementos del menú desplegable
    main
      h2 Mis pelis favs
      section
        article  
            h2 Pelicula 1
            img(src="assets", alt="foto pelicula 1")
            p descripción breve película
            button quitar de favs
        article  
            h2 Pelicula 2
            img(src="assets", alt="foto pelicula 2")
            p descripción breve película
            button quitar de favs
