doctype html
html
  head
    title MovieApp
    link(rel="stylesheet", href="/style.css")
  body
    header
      section.tituloClaqueta
        img(src="/assets/claqueta.png", alt="claqueta")
        h1 MovieApp
      button.menu_button
        img(src="/assets/play.png", alt="play")
        include navBar.pug
    main
      h2#pelisFavsTitulo My favourite movies
      section#pelisFavs
        article.peliFav  
            h2 Pelicula 1
            img(src="/assets/claqueta.png", alt="foto pelicula 1")
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem enim, nesciunt dolores dolor cumque quis sapiente earum sint aliquam explicabo accusantium adipisci, sunt omnis eos eius laboriosam ducimus deserunt veritatis?
            button quitar de favs
        article.peliFav  
            h2 Pelicula 2
            img(src="/assets/claqueta.png", alt="foto pelicula 2")
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem enim, nesciunt dolores dolor cumque quis sapiente earum sint aliquam explicabo accusantium adipisci, sunt omnis eos eius laboriosam ducimus deserunt veritatis?
            button quitar de favs
    include footer.pug
            
