section.navBar 
    ul.listaNavBar
        a(href="/dashboardAdmin") Home 
        br
        a(href="/SearchAdmin") Search 
        br
        a(href="/createMovie") Create Movie
        br
        a(href="/editmovie") Edit Movie  
        br
        a(href="/logout") Logout 
