section.navBar 
    ul.listaNavBar
        a(href="/dashboard") Home 
        br
        a(href="/search") Search 
        br
        a(href="/movies") My movies
        br
        a(href="/createmovie") Create Movie
        br
        a(href="/editmovie") Edit Movie  
        br
        a(href="/logout") Logout 
