section.navBar 
    ul
         li
            a(href="http://localhost:3000/dashboard") Home
         li
            a(href="http://localhost:3000/search") Search
         li
            a(href="http://localhost:3000/api/movies") My movies