section.navBar 
    ul.listaNavBar
        a(href="http://localhost:3000/dashboardAdmin") Home 
        br
        a(href="http://localhost:3000/getSearchAdmin") Search 
        br
        a(href="http://localhost:3000/createMovie") Create Movie
        br
        a(href="http://localhost:3000/editmovie") Edit Movie  
        br
        a(href="http://localhost:3000/logout") Logout 
