section.navBar 
    ul.listaNavBar
        a(href="http://localhost:3000/dashboard") Home 
        br
        a(href="http://localhost:3000/search") Search
        br
        a(href="http://localhost:3000/movies") My movies
        br
        a(href="http://localhost:3000/logout") Logout 