doctype html
html
  head
    title MovieApp
    link(rel="stylesheet", href="/style.css")
  body
    header
      section.tituloClaqueta
        img(src="/assets/claqueta.png", alt="claqueta")
        h1 MovieApp
    main
        form#resetForm(action="/resetpassword/:token", method="put")
            label(for="password") New password
            input(type="password", name="password", placeholder="**********")
            input(type="submit", value="Submit")
    include footer.pug
