doctype html
html
  head
    title MovieApp
    
  body
    header
      h1 Movies
      button.dropdown-button Menu
        ul.dropdown-menu
          li
            a(href="ruta para direccionar") Texto de los elementos del menú desplegable
          li
            a(href="ruta para direccionar") Texto de los elementos del menú desplegable
    main
    form(action="", method="") 
      input(type="text" placeholder="Find movies" name="title" required)
      button(id="search-button" type="submit") Search
      p Find any movie you want! 
      section#containerPelicula
  script(src='/script.js')