doctype html
html
  head
    title MovieApp
  body
    header
      h1 Movies
      button.menu-button Menu
        include navBar.pug
    main
      section
        article  
            h2 Pelicula 1
            img(src="assets", alt="foto pelicula 1")
            p descripción vista de detalle película
            p año de publicación 
            p género 
            p duración de la película
            .reseñas
            button añadir a favs
        article  
            h2 Pelicula 2
            img(src="assets", alt="foto pelicula 2")
            p descripción vista de detalle película
            p año de publicación 
            p género 
            p duración de la película
            .reseñas
            button añadir a favs
    include footer.pug
    