doctype html
html
  head
    title MovieApp
  body
    header
      h1 Movies
      button.dropdown-button Menú
        ul.dropdown-menu
          li
            a(href="ruta para direccionar") Texto de los elementos del menú desplegable
          li
            a(href="ruta para direccionar") Texto de los elementos del menú desplegable
    main
      section
        article  
            h2 Pelicula 1
            img(src="assets", alt="foto pelicula 1")
            p descripción vista de detalle película
            p año de publicación 
            p género 
            p duración de la película
            .resenas
            button añadir a favs
        article  
            h2 Pelicula 2
            img(src="assets", alt="foto pelicula 2")
            p descripción vista de detalle película
            p año de publicación 
            p género 
            p duración de la película
            .resenas
            button añadir a favs