doctype html
html
  head
    title MovieApp
  body
    header
      h1 Movies
      button.dropdown-button Menú
        ul.dropdown-menu
          li
            a(href="ruta para direccionar") Texto de los elementos del menú desplegable
          li
            a(href="ruta para direccionar") Texto de los elementos del menú desplegable
    main
      input(type="text" placeholder="busca peli por título")
      button(id="search-button" type="submit") buscar
      p ¡Busca la peli que quieras!
      section.containerPelicula
    script.
      const searchButton = document.querySelector('#search-button');
      searchButton.addEventListener('click', searchMovies)

      function searchMovies() {
        try {
          // TODO: change url.
          let response = await fetch('/api/search');
          // TODO: check if response is OK.
          let data = await response.json();
          const movieContainer = document.querySelector('.containerPelicula');
          // TODO: foreach movie, create an html element with its information.
        } catch (error) {
          // TODO: show an alert with an error message or something.
        }
      }    