doctype html
html
  head
    title MovieApp
    link(rel="stylesheet", href="/style.css")
  body
    header
      section.tituloClaqueta
        img(src="/assets/claqueta.png", alt="claqueta")
        h1 MovieApp
      button.menu_button
        img(src="/assets/play.png", alt="play")
        include navBar.pug
    main
      section.buscadorPeli
        p ¡Search the movie you want!
        input(type="text" placeholder="Insert a title")
        button(id="search-button" type="submit") Search
      section.containerPelicula 
    include footer.pug  