doctype html
html
  head
    title MovieApp
  body
    header
      h1 Movies
      button.menu-button Menu
        include navBar.pug
    main
      input(type="text" placeholder="busca peli por título")
      button(id="search-button" type="submit") buscar
      p ¡Busca la peli que quieras!
      section.containerPelicula 
    include footer.pug  