doctype html
html
  head
    title MovieApp
    link(rel="stylesheet" href="/style.css")
  body
    header
      section.tituloClaqueta
        img(src="/assets/claqueta.png" alt="claqueta")
        h1 MovieApp
      button.menu_button
        img(src="/assets/play.png" alt="play")
        include navBar.pug
    main
      form.buscadorPeli(action="" method="GET") 
        p Find any movie you want! 
        input(type="text" placeholder="Find movies" name="title" required)
        button(id="search-button" type="submit") Search
      section#containerPelicula
    script(src='/searchMovie.js')
    include footer.pug
