doctype html
html
  head
    title MovieApp
  body
    header
      h1 Movies
      button.dropdown-button Menú
        ul.dropdown-menu
          li
            a(href="ruta para direccionar") Texto de los elementos del menú desplegable
          li
            a(href="ruta para direccionar") Texto de los elementos del menú desplegable
    main
      input(type="text" placeholder="busca peli por título")
      button(type="submit") buscar
      p ¡Busca la peli que quieras!
      section.containerPelicula 
        