/* Paleta de colores: 
- Gris casi negro => #212B30
- Gris oscuro => #45555F
- Gris clarito => #858585
- Azul clarito => #18B8DC
- Verde clarito => #7EC8A0
*/

/* Fonts que se van a utilizar: */
@font-face {
    font-family: "howToDoSomething";
    src: url("/fonts/HoW\ tO\ dO\ SoMeThInG.ttf");
}

body {
    background-color: #6cd6de;
}
main{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ESTILOS userProfile PAGE: */
header {
    display: flex;
    background-color: #45555F;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 7px 20px 7px;
    align-items: center;
    margin-bottom: 42px;
    min-height: 10vh;
}

.tituloClaqueta {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: x-large;
}

.tituloClaqueta img {
    width: 100px;
    margin-left: 25px;
}

.tituloClaqueta h1 {
    font-family: "howToDoSomething";
    font-size: 75px;
    margin-left: 12px;
    background: linear-gradient(45deg, #18b8dc, #7ec8a0);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}


/* Estilos NavBar: */
.menu_button {
    background: none;
    border: none;
    cursor: pointer;
}

.menu_button img {
    width: 66px;
    height: 66px;
    background-color: #00d0ff;
    border-radius: 63px;
    padding: 2px;
    margin-right: 60px;
}
 .listaNavBar {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-right: 100px;
    font-size: x-large;
    text-align: center;
}

.listaNavBar a {
    text-decoration: none;
    color: #00d0ff;
} 
.listaNavBar a:hover {
    text-decoration: underline;
    color: #44c4e0;
} 

/* Estilos main => dashboard perfil usuario: */
#perfilUsuario {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    border: 4px solid #45555f;
    border-radius: 68px;
    max-width: 850px;
    margin-bottom: 40px;
    font-size: xx-large;
    padding: 117px 70px;
    background-color: #c6ffe0;
}

#perfilUsuario img {
    width: 113px;
    height: 128px;
    background-color: #a8b6c2;
    border-radius: 88px;
    padding: 12px;
    margin-top: 22px;
}
#editarPerfil {
    display: flex;
    margin: 0 auto;
    font-size: 32px;
    padding: 15px 38px 15px 38px;
    background-color: #7ec8a0;
    color: #45555f;
    border-radius: 100px;
    border: 2px solid #212b30;
}
#editarPerfil:hover{
    scale: 1.05;
}
main h2{
    text-align: center;
    font-size: 58px;
}

/* Estilos main part => create movie page: */
#formularioCreateMovie{
    border: 3px solid #45555f;
    border-radius: 175px;
    margin: 0 auto;
    width: 82%;
    padding: 39px 6px;
    text-align: center;
    font-size: xx-large;
}
#formularioCreateMovie h1{
    margin-bottom: 1px;
    margin-top: 18px;
}
.campoCreateMovie{
    border: none;
    display: flex;
    flex-direction: column;
    margin: 1px 82px;
}
.campoCreateMovie p{
    font-size: larger;
    margin-bottom: 8px;
    text-align: justify;
}
.campoCreateMovie input{
    padding: 22px;
    border: 1px solid #45555f;
}
#botonCreateMovie{
    font-size: xx-large;
    padding: 15px 34px;
    border-radius: 166px;
}
#botonCreateMovie:hover{
    background-color: #a8b6c2;
    scale: 1.05;
}
/* Estilos main part => movie details page: */
#detallesPeli{
    border: 3px solid #45555f;
    border-radius: 175px;
    margin: 0 auto;
    width: 95%;
    padding: 39px 6px;
    text-align: center;
    font-size: xxx-large; 
}
#detallesPeli h1{
    margin-bottom: 1px;
    margin-top: 18px;
}
#imagenPoster{
    max-width: 226px;
    max-height: 308px;
    margin-top: 45px;
}
#posterError{
    font-size: larger;
    margin-bottom: 8px;
    text-align: justify;
}
.tituloCampo{
    margin-bottom: 1px;
    font-size: 47px;
}
.infoCampo{
    max-width: 95%;
    margin: 0 auto;
    font-size: large;
}
#botonAddFavs{
    font-size: larger;
    padding: 16px 35px;
    border-radius: 166px;
    background-color: #bffada;
    color: #212b30;
}
#botonAddFavs:hover{
    background-color: #a8b6c2;
    scale: 1.05;
}
#listaActores{
    list-style: none;
    margin-top: 6px;
    margin-bottom: 78px;
}
.nombresActores{
    font-size: large;
}
#listaReviews{
    list-style: none;
    margin-top: 6px;
    margin-bottom: 78px;
}
.review{
    font-size: large;
}
/* Estilos main part => edit movie page: */
#formularioEditMovie{
    border: 3px solid #45555f;
    border-radius: 175px;
    margin: 0 auto;
    width: 82%;
    padding: 39px 6px;
    text-align: center;
    font-size: xx-large; 
}
#formularioEditMovie h1{
    margin-bottom: 1px;
    margin-top: 18px;
}
.campoEditMovie{
    border: none;
    display: flex;
    flex-direction: column;
    margin: 1px 82px; 
}
.campoEditMovie p{
    font-size: larger;
    margin-bottom: 8px;
    text-align: justify;
}
.campoEditMovie input{
    padding: 22px;
    border: 1px solid #45555f;
}
#botonEditMovie{
    font-size: xx-large;
    padding: 15px 34px;
    border-radius: 166px;
}
#botonEditMovie:hover{
    background-color: #a8b6c2;
    scale: 1.05;
}
/* Estilos main part => login page: */
#formularioLogin{
    border: 3px solid #45555f;
    border-radius: 175px;
    margin: 0 auto;
    width: 70%;
    padding: 39px 6px;
    text-align: center;
    font-size: xx-large;
}
#formularioLogin h1{
    margin-bottom: 1px;
    margin-top: 18px;
}
.campoFormLogin{
    border: none;
    display: flex;
    flex-direction: column;
    margin: 1px 82px;
}
.campoFormLogin p{
    font-size: larger;
    margin-bottom: 8px;
    text-align: justify;
}
.campoFormLogin input{
    padding: 22px;
    border: 1px solid #45555f;
    font-size: larger;
}
#botonLogin{
    font-size: xx-large;
    padding: 15px 34px;
    border-radius: 166px;
}
#botonLogin:hover{
    background-color: #a8b6c2;
    scale: 1.05;
}
#botonGoogle{
    font-size: 39px;
    padding: 32px 109px;
    border-radius: 166px;
    display: flex;
    margin: 0 auto;
    margin-top: 26px;
}
#botonGoogle:hover{
    background-color: #a8b6c2;
    scale: 1.05;
}
#notAccount{
    font-size: xx-large;
    text-align: center;
}
#createAccount{
    font-size: 48px;
    text-align: center;
    text-decoration: none;
    color: #45555f;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

/* Estilos main part => signup page: */
#formularioSignup{
    border: 3px solid #45555f;
    border-radius: 175px;
    margin: 0 auto;
    width: 70%;
    padding: 39px 6px;
    text-align: center;
    font-size: xx-large;
}
#formularioSignup h1{
    margin-bottom: 1px;
    margin-top: 18px;
}
.campoFormSignup{
    border: none;
    display: flex;
    flex-direction: column;
    margin: 1px 82px;
}
.campoFormSignup p{
    font-size: larger;
    margin-bottom: 8px;
    text-align: justify;
}
.campoFormSignup input{
    padding: 22px;
    border: 1px solid #45555f;
}
#botonSignup{
    font-size: xx-large;
    padding: 15px 34px;
    border-radius: 166px;
}
#botonSignup:hover{
    background-color: #a8b6c2;
    scale: 1.05;
}
/* Estilos main part => movies page: */
#pelisFavsTitulo{
    text-align: center;
    font-size: xxx-large;
}
#pelisFavs{
    border: 4px solid #45555f;
    border-radius: 68px;
    width: 80%;
    margin: 0 auto;
    padding: 8px 12px;
}
.peliFav{
    border: 1px solid black;
    border-radius: 120px;
    width: 90%;
    margin: 0 auto;
    margin-top: 26px;
    margin-bottom: 25px;
    height: 520px;
}
.peliFav h2{
    display: flex;
    justify-content: center;
    font-size: 40px;
}
.peliFav img{
    width: 155px;
    margin: 0 auto;
    display: flex;
}
.peliFav p{
    margin: 0 auto;
    margin-top: 32px;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 45px;
    font-size: x-large;
    text-align: center;
}
.peliFav button{
    display: flex;
    margin: 0 auto;
    font-size: xx-large;
    background-color: #212b30;
    color: #7ec8a0;
    padding: 6px 14px;
    border: 1px solid #7ec8a0;
    border-radius: 32px;
}

/* Estilos main part => dashboard admin page: */
#pelisCreadasDashboard{
    border: 1px solid black;
    /* margin-top: 16px; */
    width: 80%;
    margin: 0 auto;
    margin-top: 90px;
}
.peliCreada{
    border: 1px solid black;
    border-radius: 39px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 38px;
    height: fit-content;
    padding: 26px 14px;
}
.peliCreada h3{
    text-align: center;
    font-size: xx-large;
}
.peliCreada img{
    max-width: 269px;
    display: flex;
    margin: 0 auto;
}
.peliCreada p{
    text-align: center;
    margin-left: 18px;
    margin-right: 18px;
}
.borrarPeli{
    display: flex;
    margin: 0 auto;
    font-size: xx-large;
    background-color: #bffada;
    color: #45555f;
    padding: 10px 24px;
    border: 2px solid #6fdba1;
}
.borrarPeli:hover{
    scale: 1.05;
}
/* Estilos main part => search page: */
.buscadorPeli{
    border: 4px solid #45555f;
    border-radius: 68px;
    width: 80%;
    margin: 0 auto;
    padding: 8px 12px;
    height: 262px;
    text-align: center;
}
.buscadorPeli p{
    font-size: 28px;
    margin-bottom: 24px;
}
.buscadorPeli input{
    padding: 10px 66px;
    display: flex;
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 30px;
    font-size: x-large;
    background-color: #bffada;
    color: #212b30;
    font-size: xx-large;
}
.buscadorPeli button{
    padding: 14px 33px;
    font-size: x-large;
    background-color: #7ec8a0;
    color: #45555f;
    border: 2px solid #212b30;
    border-radius: 100px;
}
#containerPelicula{
    border: 4px solid #45555f;
    border-radius: 253px;
    width: 90%;
    margin: 0 auto;
    padding: 8px 12px;
    height: fit-content;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: #45555f;
}
#containerPelicula div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #c6ffe0;
    border-radius: 252px;
    padding: 105px 226px;
    font-size: xx-large;
    background-color: #92f7ff;
    width: 42%;
    margin-top: 1px;
    margin-bottom: 3px;
}
#containerPelicula div img{
    display: flex;
}
#containerPelicula div p{
    text-align: center;
}
#containerPelicula div a{
    text-decoration: none;
    border: 1px solid #212b30;
    border-radius: 23px;
    padding: 10px 20px;
    color: #212b30;
    background-color: #bffada;
    text-align: center;
}

/* Estilos footer: */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #212B30;
    padding: 28px 3px 28px 3px;
    color: #7EC8A0;
    margin-top: 26px;
    min-height: 10vh;
}
.footer a img {
    width: 88px;
    height: 88px;
    background-color: aliceblue;
    border-radius: 50px;
    padding: 2px;
}
.footer p{
    max-width: 30%;
    text-align: center;
}



/* MEDIA QUERIES */
@media screen and (min-width: 526px){
    /* HEADER PART */
    header{
        height: 12vh;
    }
    .tituloClaqueta img{
        width: 44px;
    }
    .tituloClaqueta h1{
        font-size: xxx-large;
    }

    /* navbar part */
    .listaNavBar{
        font-size: medium;
        display: contents;
    }
    .listaNavBar a{
        font-size: larger;
    }
    
    /* MAIN PART */
    main h2{
        font-size: x-large;
    }
    /* login page */
    #formularioLogin{
        width: 90%;
        font-size: larger;
    }
    #notAccount{
        font-size: x-large;
    }
    #createAccount{
        margin-top: 1px;
        font-size: xx-large;
    }
    #createAccount:hover{
        text-decoration: underline;
        color: #212b30;
    }
    #botonLogin{
        font-size: larger;
        padding: 10px 28px;
    }
    #botonGoogle{
        font-size: x-large;
        padding: 13px 50px;
    }
    /* signup page */
    #formularioSignup{
        width: 90%;
        font-size: larger;
    }
    /* dashboard profile user page */
    #perfilUsuario{
        font-size: large;
        height: 38vh;
    }
    #botonSignup{
        font-size: larger;
        padding: 10px 28px;
    }
    #editarPerfil{
        font-size: x-large;
        padding: 7px 25px;
    }

    /* search page */
    .buscadorPeli{
        width: 75%;
    }
    .buscadorPeli p{
        font-size: x-large;
    }
    .buscadorPeli input{
        font-size: large;
        text-align: center;
    }
    .buscadorPeli button{
        font-size: large;
        padding: 7px 21px;
    }
    #containerPelicula{
        width: 98%;
        margin: 0 auto;
        margin-top: 10px; 
    }
    #containerPelicula div{
        width: 56%;
    }
    /* fav movies page */
    #pelisFavs{
        height: fit-content;
        width: 90%;
    }
    #pelisFavsTitulo{
        text-align: center;
        font-size: xx-large;
        margin-top: 2px;
    }
    .peliFav{
        height: fit-content;
    }
    .peliFav h2{
        font-size: xx-large;
    }
    .peliFav img{
        width: 125px;
    }
    .peliFav p{
        font-size: larger;
        width: 80%;
        margin: 0 auto;
        margin-top: 36px;
        margin-bottom: 31px;
    }
    .peliFav button{
        margin-bottom: 10px;
    }
    /* dashboard admin page */
    #pelisCreadasDashboard{
        width: 95%;
        border: none;
    }
    .peliCreada{
        width: 80%;
        background-color: #9cf8ff;
        font-size: medium;
    }
    .peliCreada h3{
        font-size: x-large;
    }
    .peliCreada img{
        width: 140px;
    }
    .peliCreada p{
        width: 80%;
        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 18px;
    }
    .borrarPeli{
        font-size: larger;
        padding: 5px 17px;  
    }
    /* create movie page */
    #formularioCreateMovie{
        font-size: larger;
        width: 90%;
    }
    #formularioCreateMovie h2{
        font-size: xx-large;
    }
    #formularioCreateMovie input{
        font-size: large;
        padding: 18px 10px;
    }
    #botonCreateMovie{
        font-size: larger;
        padding: 8px 28px;
        margin-top: 30px;
    }
    /* edit movie page */
    #formularioEditMovie{
        font-size: larger;
        width: 90%;
    }
    #formularioEditMovie h2{
        font-size: xx-large; 
    }
    #formularioEditMovie input{
        font-size: large;
        padding: 18px 10px;
    }
    #botonEditMovie{
        font-size: larger;
        padding: 8px 28px;
        margin-top: 30px;
    }


    /* FOOTER PART */
    .footer{
        height: 10vh;
    }
    .footer img{
        width: 112px;
    }
    .footer a img{
        width: 60px;
        height: 60px;
    }
    .footer p{
        max-width: 50%;
        text-align: center;
    }

}
